*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/.idea/other.xml
/.kotlin/sessions/
/.idea/deviceManager.xml
/music/production/release/baselineProfiles/0/music-production-release.dm
/music/production/release/baselineProfiles/1/music-production-release.dm
/music/production/release/music-production-release.apk
/music/production/release/output-metadata.json
/.kotlin/errors/
/music/release/baselineProfiles/0/music-release.dm
/music/release/baselineProfiles/1/music-release.dm
/music/release/music-release.apk
/music/release/output-metadata.json
